body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1,
h2 {
  margin-bottom: 18px
}

h1 {
  font-size: 36px;
}

.no-margin {
  margin: 0;
}

li {
  margin-bottom: 12px;
}

main  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 16px;
}

strong {
  font-weight: 600;
}